<div class="form-wrapper">
  <div class="form-description">Edit the information for <%= @student.name %> using the form below:</div>
  <form id="edit-student-form" action="/students/<%= @student.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <div class="form-line-item">
      <label for="name">Name of student</label>
      <input type="text" id="name" name="name" value="<%= @student.name %>" />
    </div>

    <div class="form-line-item">
      <label for="age">Age</label>
      <input type="text" id="age" name="age" value="<%= @student.age %>" />
    </div>

    <div class="form-line-item boolean">
      <label for="currently_enrolled">Currently enrolled?</label>
      <input type="checkbox" id="currently_enrolled" name="currently_enrolled" checked=<%= @student.currently_enrolled %> />
    </div>

    <div class="form-line-item">
      <label for="account_balance">Student account balance</label>
      <input type="number" step=".01" id="account_balance" name="account_balance" value="<%= @student.account_balance %>" />
    </div>

    <div class="form-line-submit">
      <input type="submit" value="update student" />
    </div>
  </form>
</div>