<div class="form-wrapper">
  <div class="form-description">Edit the information for <%= @school.name %> using the form below:</div>
  <form id="edit-school-form" action="/schools/<%= @school.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <div class="form-line-item">
      <label for="name">Name of school</label>
      <input type="text" id="name" name="name" value="<%= @school.name %>" />
    </div>

    <div class="form-line-item">
      <label for="location">Location</label>
      <input type="text" id="location" name="location" value="<%= @school.location %>" />
    </div>

    <div class="form-line-item boolean">
      <label for="abet_accredited">ABET accredited?</label>
      <input type="checkbox" id="abet_accredited" name="abet_accredited" checked=<%= @school.abet_accredited %> />
    </div>

    <div class="form-line-item">
      <label for="student_capacity">Student capacity</label>
      <input type="number" id="student_capacity" name="student_capacity" value="<%= @school.student_capacity %>" />
    </div>

    <div class="form-line-submit">
      <input type="submit" value="update school" />
    </div>
  </form>
</div>