<div class="data-display">
  <div class="list-description">
    Information about <%= @school.name %>:
  </div>

  <div class="list">
    <div class="list-item">
      <div class="list-subitem">Location: <span class="value-color"><%= @school.location %></span></div>
      <div class="list-subitem">ABET accredited: <span class=<%= @school.abet_accredited ? "true" : "false" %>><%= @school.abet_accredited ? "yes" : "no" %></span></div>
      <div class="list-subitem">Student capacity: <span class="value-color"><%= @school.student_capacity %></span></div>
      <div class="list-subitem"><%= @school.name %> has <span class="value-color"><%= @school.students.count %></span> students.</div>
      <div class="list-subitem"><a class="students-link" href=<%= "/schools/#{@school.id}/students" %>>View <%= @school.name %>'s student list</a></div>
    </div>
  </div>
</div>