<div class="data-display">
  <div class="list-description">
    list of students at <%= @school.name %>
  </div>

  <div class="list">
    <% @students.each do |student| %>
      <div class="list-item">
        <div class="name"><a href=<%= "/students/#{student.id}" %>><%= student.name %></a></div>
        <div class="age">Age: <span class="value-color"><%= student.age %></span></div>
        <div class="enrolled">Currently enrolled: <span class=<%= student.currently_enrolled ? "true" : "false" %>><%= student.currently_enrolled ? "yes" : "no" %></span></div>
        <div class="balance">Account balance: <span class="value-color">$<%= sprintf('%.2f', student.account_balance) %></span></div>
      </div>
    <% end %>
  </div>
</div>