<div class="data-display">
  <div class="list-description three-column">
    <div class="list-description-text">list of students at <%= @school.name %></div>
    <div class="list-modify">
      <a id="create-student-link" href="/schools/<%= @school.id %>/students/new">add student</a>
    </div>
    <div class="list-modify">
      <a id="sort-alphabetical" href="/schools/<%= @school.id %>/students?alphabetical=true">alphabetize</a>
    </div>
  </div>

  <div class="list">
    <% @students.each do |student| %>
      <div class="list-item">
        <div class="name"><a href=<%= "/students/#{student.id}" %>><%= student.name %></a></div>
        <div class="list-subitem">Age: <span class="value-color"><%= student.age %></span></div>
        <div class="list-subitem">Currently enrolled: <span class=<%= student.currently_enrolled ? "true" : "false" %>><%= student.currently_enrolled ? "yes" : "no" %></span></div>
        <div class="list-subitem">Account balance: <span class="value-color">$<%= sprintf('%.2f', student.account_balance) %></span></div>
      </div>
    <% end %>
  </div>

  <div class="filter-form-wrapper">
    <form id="filter-students-form" action="/schools/<%= @school.id %>/students" method="GET">
      <div class="form-line-item">
        <label for="student-age">Minimum student age</label>
        <input type="number" id="student-agee" name="student-age" />
      </div>

      <div class="form-line-submit">
        <input type="submit" value="filter by age" />
      </div>
    </form>
  </div>
</div>